function Main.main 0
push constant 123
push constant 133
add
pop temp 0





















































































































































































































